body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.main {
    display: inline-block;
    padding: 10px 25px 25px;
    border: 2px solid #808080;
    border-radius: 30px;
    min-width: 22rem;
}

.field-group input {
    font-size: 11pt;
    display: inline-block;
    max-width: 1em;
    vertical-align: middle;
    text-align: right;
    margin-right: 1em;
}

.column {
    float: left;
    }